@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    margin: 0;
    font-family: 'Roboto','Arial Narrow Bold', sans-serif;
}

.container{
    margin: 20px 200px;
}

.intro {
    display: flex;
    background-image: url("./src/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    .container{
        margin: 20px 200px ;

        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            img{
                width: 150px;
            }
        
            .number{
                background-color: #F8C477;
                width: 150px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        
        .section1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                color: white;
                font-size: 60px;
                font-weight: 900;
                font-family: 'Roboto', sans-serif;
                span{
                    background-color: #f4ca33;
                }
            }
            p{
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 25px;

            }
            #title{
                width: 60%;
            }
            .background{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #FFFFFF;
                filter: blur(3px);
                z-index: -1;
                border-radius: 35px;
                opacity: 0.5;

            }
            .contact{
                position: relative;
                opacity: 0.5;
                width: 20rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .contact-content{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                form{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    input{
                        margin: 1rem 0;
                        outline: none;
                        background: none;
                        padding: 10px;
                        font-size: 1.2em;
                        border: none;
                        border-left: solid #683230;
                        background: #FFFFFF;

                    }
                    textarea{
                        @extend input
                    }
                    #enviar{
                        background-color: #683230;
                        color: white;
                    }
                }
                
        
            }

        }
    
    }


}

.quem-somos{
    background-color: #f8c477;
    display: flex;
    color: #683230;
    .container{
        display: flex;
        margin: 20px 200px ;
        position: relative;
        img{
            width: 450px;
        }
        h1{
            font-size: 45px;
        }
        p{
            font-weight: 600;
            text-align: justify;
        }
        #banana{
            position: absolute;
            width: 180px;
            bottom: 210px;
            left: -230px;
            rotate: 40deg
        }
    }
}
.servicos{
    @extend .quem-somos;
    .container{
        margin: 20px 250px;
    }
    background-color: #753513;
    justify-content: center;
    .serviceslist{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title{
            color: white;
            font-family: Roboto;
            font-size: 40px;
        }
        #banana2{
            position: absolute;
            width: 150px;
            right: -190px;
            top: -120px;
            rotate: 130deg;
        }
        #banana3{
            position: absolute;
            width: 110px;
            left: -190px;
            bottom: -100px;
            rotate: 190deg;
        }
    }
    .services{
        display: flex;
        text-align: left;
        align-items: center;
        flex-wrap: wrap;
        background-color: #a96e3b;
        border-radius: 50px;
        h3{
            color: white;
        }
        .service{
            display: flex;
            align-items: center;
            width: 50%;
            color: white;
            .icon{
                margin: 30px;
            }
            img{
                width: 60px;
            }
        }
    }
   
}

.FAQ{
    display: flex;
    justify-content: center;
    background-color: #f8c477;
    .title{
        font-weight: 900;
        font-size: 40px;
        color: #753513;
    }
    .perguntas{
        display: flex;
        flex-direction: column;
        .pergunta{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #753513;
            border-bottom: solid #753513;
        }
    }
}

.last{

    background-color: #ffffff;
    .container{
        margin: 0 200px;
        .wrapper{
            display: flex;
            img{
                width: 500px;
            }
        .title{
            width: 60%;
            margin-top: 120px;
            h2{
                font-weight: 900;
                font-size: 40px;
                color: #753513;
            }
            p{
                font-size: 20px;
                color: #753513;
            }
            button{
                border: none;
                filter: drop-shadow(0 0 0.15rem #683230);
                background-color: #683230;
                color: #ffffff;
                border-radius: 5px;
                padding: 15px;
                margin-top: 35px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
            }
    }}
}}

footer{
    display: flex;
    background-color: #753513;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    div{
        display: flex;
        justify-content: space-between;
        p{
            margin: 5px 10px;
        }
    }

}