@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial Narrow Bold", sans-serif;
}

.container {
  margin: 20px 200px;
}

.intro {
  display: flex;
  background-image: url("./src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.intro .container {
  margin: 20px 200px;
}
.intro .container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.intro .container header img {
  width: 150px;
}
.intro .container header .number {
  background-color: #F8C477;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .container .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro .container .section1 h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.intro .container .section1 h1 span {
  background-color: #f4ca33;
}
.intro .container .section1 p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.intro .container .section1 #title {
  width: 60%;
}
.intro .container .section1 .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  filter: blur(3px);
  z-index: -1;
  border-radius: 35px;
  opacity: 0.5;
}
.intro .container .section1 .contact {
  position: relative;
  opacity: 0.5;
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.intro .container .section1 .contact .contact-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro .container .section1 .contact form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.intro .container .section1 .contact form input, .intro .container .section1 .contact form textarea {
  margin: 1rem 0;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-left: solid #683230;
  background: #FFFFFF;
}
.intro .container .section1 .contact form #enviar {
  background-color: #683230;
  color: white;
}

.quem-somos, .servicos {
  background-color: #f8c477;
  display: flex;
  color: #683230;
}
.quem-somos .container, .servicos .container {
  display: flex;
  margin: 20px 200px;
  position: relative;
}
.quem-somos .container img, .servicos .container img {
  width: 450px;
}
.quem-somos .container h1, .servicos .container h1 {
  font-size: 45px;
}
.quem-somos .container p, .servicos .container p {
  font-weight: 600;
  text-align: justify;
}
.quem-somos .container #banana, .servicos .container #banana {
  position: absolute;
  width: 180px;
  bottom: 210px;
  left: -230px;
  rotate: 40deg;
}

.servicos {
  background-color: #753513;
  justify-content: center;
}
.servicos .container {
  margin: 20px 250px;
}
.servicos .serviceslist {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicos .serviceslist .title {
  color: white;
  font-family: Roboto;
  font-size: 40px;
}
.servicos .serviceslist #banana2 {
  position: absolute;
  width: 150px;
  right: -190px;
  top: -120px;
  rotate: 130deg;
}
.servicos .serviceslist #banana3 {
  position: absolute;
  width: 110px;
  left: -190px;
  bottom: -100px;
  rotate: 190deg;
}
.servicos .services {
  display: flex;
  text-align: left;
  align-items: center;
  flex-wrap: wrap;
  background-color: #a96e3b;
  border-radius: 50px;
}
.servicos .services h3 {
  color: white;
}
.servicos .services .service {
  display: flex;
  align-items: center;
  width: 50%;
  color: white;
}
.servicos .services .service .icon {
  margin: 30px;
}
.servicos .services .service img {
  width: 60px;
}

.FAQ {
  display: flex;
  justify-content: center;
  background-color: #f8c477;
}
.FAQ .title {
  font-weight: 900;
  font-size: 40px;
  color: #753513;
}
.FAQ .perguntas {
  display: flex;
  flex-direction: column;
}
.FAQ .perguntas .pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #753513;
  border-bottom: solid #753513;
}

.last {
  background-color: #ffffff;
}
.last .container {
  margin: 0 200px;
}
.last .container .wrapper {
  display: flex;
}
.last .container .wrapper img {
  width: 500px;
}
.last .container .wrapper .title {
  width: 60%;
  margin-top: 120px;
}
.last .container .wrapper .title h2 {
  font-weight: 900;
  font-size: 40px;
  color: #753513;
}
.last .container .wrapper .title p {
  font-size: 20px;
  color: #753513;
}
.last .container .wrapper .title button {
  border: none;
  filter: drop-shadow(0 0 0.15rem #683230);
  background-color: #683230;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

footer {
  display: flex;
  background-color: #753513;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer div p {
  margin: 5px 10px;
}

/*# sourceMappingURL=style.css.map */
